extends ../../views/layout


block page
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container
                a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                    span.fg-color-grayDark.icon-list-4
                a.brand(href="#") Marwael - Cloud Sales Manager
                div.nav-collapse
                    ul.nav.pull-right
                        li.active
                            a(href="#") Accueil
                        li
                            a(href="#") Contact
    div.hero-unit.clearfix
        div.pull-left.span8
            img(src="/images/logos/marwael-logo.png")
            h2 Marwael Cloud Sales Manager
            p Application de gestion commerciale en environnement Cloud
            p Vous n'avez pas encore de compte? 
            small Inscription sans engagement 
                a.btn.btn-info(href="") M'inscrire
        div.pull-right
            form.well(method="post", action="/auth")
                label Identifiant
                input.span3(type="email", name="email", placeholder="Saisir l'identifiant", value="nabil.bedoui@marwael.fr")
                label Mot de passe
                input.span3(type="password", name="password", placeholder="Saisir le mot de passe", value="marwael")
                label.checkbox Rester connecté
                    input(type="checkbox") 
                button.btn.btn-primary(type="submit") Me connecter
                label 
                    a(href="#") Mot de passe oublié?