extends layout


block page
	div.navbar.navbar-fixed-top.navbar-inverse
		div.navbar-inner
			div.container
				a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
					.icon-list-4.fg-color-grayDark(style="font-size:2em;")
				a.brand(href="#").fg-color-yellow Cloud Sales Manager
				div.nav-collapse
					ul.nav.pull-right
						li
							a(href="/") Accueil
						li
							a(href="/") Contact

						li
							a(href="#") 
								i.icon-user-7
								|  #{session.firstname} #{session.lastname}
						li
							a(href="#") 
								i.icon-switch-2
									
	block content
block script	
	