doctype 5
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title Marwael Sales Manager
		meta(name="description", content="Description du site")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/css/iconmoon.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
		

        
		style
			body { padding-top: 60px; }
			table { width: 100%; }
			td, th {text-align: left; white-space: nowrap;}
			td.numeric, th.numeric { text-align: right; }
			h2, h3 {margin-top: 1em;}
			section {padding-top: 40px;}
			[contenteditable="true"]:hover {
				cursor:pointer;
				outline: 1px solid orange;
			}

		link(href="/css/flip-scroll.css", rel="stylesheet")	
			
		script(src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places", type="text/javascript")

	body
		div.container-fluid
			//input#addressInput(type="text", name="address", placeholder="lieu...", style="width:300px")
			textarea#addressInput(name="address", placeholder="lieu...", style="width:300px")
			//AIzaSyBR6l-fFZZQO_ntNkY-0cNXVQK0a2LGIx0
		script
			var input = document.getElementById("addressInput");
			var autocomplete = new google.maps.places.Autocomplete(input);
					