extends ../../../views/index

block content
    #content 
        header.page-header
            a(href="/sales/customers") 
                img(src="/images/backbutton24x24.png", style="margin-left:1%;")
            span.section-title    Infos client
        section.sub-content
        	.NUxIad Hello
block script
	style
		.NUxIad {
			background: none;
			overflow-y: scroll;
			}