extends ../../../views/index

block content
	.container(style="margin-top: 15px;")
		div.header
			a(href="/sales")
				img(src="/images/backbutton24x24.png", style="margin-left:1%;")
			span.section-title   Liste des clients
		div#customers-container.row-fluid
			.app-bar.fg-color-white.pull-right
				button#homeBtn.win-command
					span.win-commandimage.win-commandring &#xe03f;
					span.win-label Accueil
				hr.win-command
				button#addBtn.win-command
					span.win-commandimage.win-commandring &#xe33c;
					span.win-label Ajouter
				button#deleteBtn.win-command.disabled
					span.win-commandimage.win-commandring &#xe33b;
					span.win-label Supprimer
				hr.win-command
				button#prevBtn.win-command.disabled
					span.win-commandimage.win-commandring &#xe360;
					span.win-label Page préc.
				button#nextBtn.win-command
					span.win-commandimage.win-commandring &#xe35c;
					span.win-label Page suiv.
			.row-fluid
				div.well.input-append
					input#searchCustomerName.span5(type="search", placeholder="Trouver un client par son nom")
					button.btn#search Go
			#customers-list.row-fluid
		
		
		
	


block script
	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://underscorejs.org/underscore-min.js") 
	script(src="http://backbonejs.org/backbone-min.js")
	//Templates
	script#customer-template(type="text/template")
			div(id!="card-<%=model._id%>").card 
				figure.front
					div(style="background-color:#6E6E6E;")
						div.pull-right
							span.flip.pull-left(id!="flip-<%=model._id%>") Historique
						div.img
							img(src!="<%=model.logo%>")
					div.text-inner
						a(id!="customer-<%=model._id%>", href="#").text-header.customerDetails <%=model.customerCode%> - <%=model.customerName%>
						h5 suivi par : <%=model.customer_owner.name.first%> <%=model.customer_owner.name.last%>
						h5
							a(href="#").fg-color-white
								i.icon-users
								| Liste des contacts
					div.LI
						div(style="width:150px; margin-left:auto; margin-right:auto")
							div.esw
								span.sr
									span Devis
							div.esw
								span.sr
									span Factures
				figure.back 
					div.pull-right.close
						span(id!="roll-<%-model._id%>").roll.icon-x-altx-alt
					ul
						li
							b
								i.icon-docs 
								| Devis
							ul
								li Transformés : 50
								li Rejetés : 50
								li En attente : 5
						li
							b
								i.icon-notebook 
								| Factures
							ul
								li Réglées : 30
								li En attente : 20
	script(src="/js/modules/sales/customers.js")



			
	
	