extends ../../../views/index

block content
	.container(style="margin-top: 15px;")
		div.header
			div.section-title
				a(href="/sales/customerDetails/#{customerId}/address")
					span.win-backbutton
					span  Google Maps
			
		.row-fluid
			span 
				b Adresse : 
				| #{address}
			div.map
				div#map-canvas(style="width:100%; height:100%;")

block script
	script.
		function initialize(){
			var latlng = new google.maps.LatLng(49.0041169, 2.4654564999999593) ;
			var mapcanvas = document.getElementById('map-canvas');
			var mapOptions = {
					zoom: 15,
					center: latlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(mapcanvas, mapOptions);
			return map;

		}

		function codeAddress(address, geocoder, callback) {
			geocoder.geocode( { 'address': address}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					var position = results[0].geometry.location;

					callback(position);
				} else {
					$("#error2").text('Geocode was not successful for the following reason: ' + status);
				callback(null);
				}
				});
		}

		$(document).ready(function (){
			
			var map = initialize();

			var geocoder = new google.maps.Geocoder();
			codeAddress("#{address}", geocoder, function(position){
				var lat = position.lat();
				var lng = position.lng();

				map.setCenter(position);
				var	marker = new google.maps.Marker({
						map:map,
						position : position,
						//draggable:true,
						animation: google.maps.Animation.DROP
				});
				
				
			})
			
		});	