extends param

block title
	span  TVA
block input
	input#inputItem.input-medium.fg-color-white(required, type="text", name="tauxGST", 
					pattern="[-+]?[0-9]*[.,]?[0-9]+", 
					title="format de TVA XXX", 
					placeholder="Saisir des données", 
					x-webkit-speech="x-webkit-speech", data-error-style="inline")

block table
	table#table.table.table-bordered.table-condensed(entity="Gst", paramname="tauxGST")
		thead
			tr
				th 
					center TVA
				th 
					center &nbsp;
		tbody#param-list 

block template
	script#param-template(type="text/template")
		td 
			center.list-input 
				input.edit.input-small(id!="<%=model._id%>", type="text", name="tauxGST", pattern="[-+]?[0-9]*[.,]?[0-9]+", value!="<%=model.tauxGST%>")
		td
			center
				div.delete(id!="<%=model._id%>")
					i.icon-minus-2