extends param

block title
	span.title  Type de téléphone

block input
	input#inputItem.input-large.fg-color-white(required, type="text", name="paramName",
											placeholder="Saisir des données", 
											x-webkit-speech="x-webkit-speech", data-error-style="inline")
block table
	table#table.table.table-bordered.table-condensed(entity="PhoneType", paramname="phoneType")
		thead
			tr
				th 
					center.fg-color-white  Type de téléphone
				th 
					center &nbsp;
		tbody#param-list 

block template
	script#param-template(type="text/template")
		td 
			center.list-input 
				input.edit.input-medium(id!="<%=model._id%>", type="text", name="phoneType", value!="<%=model.phoneType%>")
		td
			center
				div.delete(id!="<%=model._id%>")
					i.icon-cross