
#addressDialog.modal.hide.fade(style="display:none", aria-hidden="true")
	.modal-header
		button.close(type="button", data-dismiss="modal", aria-hidden="true")
		h3 Adresse
		address
			input(type="text", value="#{address.street}")
			input(type="text", value="#{address.zipCode}")
			input(type="text", value="#{address.city}")
			input(type="text", value="#{address.country}")
	.modal-body
		h4 Body
	.modal-footer
		h4 Footer

	