extends ../../views/index

block content
    .container(style="margin-top: 15px;")
        div.header
            //a(href="#")
                img(src="/images/backbutton24x24.png", style="margin-left:1%;")
            span.section-title   Page d'accueil
        .row-fluid
                if (moduleList.indexOf('sales') >= 0)
                    a(href="/sales")#sales.tile.wide.imagetext.bg-color-red
                        .image-wrapper
                            .icon-gift-2
                        .column-text
                            .text-header3 Ventes
                        .app-label Ventes
                        .app-count 1
                if (moduleList.indexOf('crm') >= 0)
                    a(href="/crm")#crm.tile.wide.imagetext.bg-color-blue
                            .image-wrapper
                                .icon-users-2
                            .column-text
                                .text-header3 CRM: Relation client
                            .app-label CRM
                            .app-count 2
                a(href="/accountInfos")#accountInfos.tile.wide.imagetext.bg-color-orange
                    .image-wrapper
                        .icon-vcard
                    .column-text
                        .text-header3 Mon compte
                    .app-label Infos société
                    .app-count 3
                a(href="/repository")#repository.tile.wide.imagetext.bg-color-green
                    .image-wrapper
                        .icon-tools
                    .column-text
                        .text-header3 Configurations
                    .app-label Paramétres
                    .app-count 4
                