extends ../../../views/index

block content
	script(src="/js/numeral.min.js")
	script(src="/js/languages.min.js")
	style.
		

		@media only screen and (max-width: 979px)  {
			.quotation-header {
				display : none;
			}

			.quotation-line > div {
				display : block;
			}

			.quotation-line > div > label {
				display : inline-block;
				width : 85px;
				text-align : right;
				
				color : #fff;
				background-color : #FA6800;;
				
				
			}
			
		}

		@media only screen and (min-width: 979px)  {
			
			.quotation-header > div {
				text-align : center;
				color : #fff;
				background-color : #FA6800;
			}
			.quotation-line {
				width : 99%;
				display: -webkit-box;
					display: -moz-box;
						display : -webkit-flex;
							display : -ms-flexbox;
								display : flex;
			}

			.quotation-line > div {
				-webkit-box-flex :1;
					-moz-box-flex :1;
						-webkit-flex:1;
							-ms-flex: 1;	
								flex:1;
				border : 1px solid #e4e4e4;
				
			}


			.quotation-line > div:nth-child(2) {
				
				-webkit-box-flex :3;
					-moz-box-flex :3;
						-webkit-flex:3;
							-ms-flex: 3;	
								flex:3;
				
			}

			.quotation-line > div > input {
				border:none;
				margin : 1px;
				padding : 1px;
			}

			.quotation-line > div > input:focus {
				/*
				border : 1px solid green;
				border-color: rgba(82, 168, 236, 0.8);
				*/
				outline: 0;
				outline: thin dotted \9;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
					-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
			}
			.quotation-line > div > label {
				display : none;
			}
		}


	.container(style="margin-top: 15px;")
			div.header
				div.section-title
					a(href="/sales")
						span.win-backbutton
						span  Devis
			div#quotation-container.row-fluid(style="height:650px").fg-color-white
				div.row-fluid(style="height:150px")
					div
						span Client 1
					div.well  
						input.span3#search(type="text", autocomplete="false", style="margin: 0 auto;")
					tr
					tr
					button.btn.btn-small#addLine Ajouter
					tr
					
				div.row-fluid(style="height:500px").fg-color-white
					section.quotation
						section.quotation-line.quotation-header
							div Code
							div Désignation
							div PU
							div Unité
							div Quantité
							div MHT
							div Remise (%)
							div MHT (Remise)
							div TVA (%)
						section.quotation-line
							div
								label Code :  
								input#productCode-1.input-mini.productCode(name="productCode", type="text", placeholder="code", autocomplete="off")
							div
								label Désignation : 
								input#productName-1.input-medium.productName(name="productName", type="text", placeholder="Désignation...")
							div
								label PU : 
								input#productSalesPrice-1.input-mini.numeric(name="productSalesPrice", type="text", placeholder="PU", value="0.00")
							div
								label Unité : 
								input#productUnit-1.input-mini.numeric(name="productUnit", type="text", placeholder="PU", value="0.00")
							div
								label Quantité : 
								input#quantity-1.input-mini.numeric(name="quantity", type="text", placeholder="Quantity", value="0") 
							div
								label MHT : 
								input#amount-1.input-mini.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 
							div
								label Remise : 
								input#productSalesDiscount-1.input-mini.numeric(name="productSalesDiscount", type="text", placeholder="Remise", value="0") 
							div
								label MHT (Rem.) : 
								input#amountAfterDiscount-1.input-small.numeric(name="amountAfterDiscount", type="text", placeholder="MHT (Remise)", value="0.00") 
							div
								label TVA : 
								input#productGST-1.input-small.numeric(name="productGST", type="text", placeholder="TVA", value="0.00") 
						section.quotation-line
							div
								label Code :  
								input#productCode-1.input-mini.productCode(name="productCode", type="text", placeholder="code", autocomplete="off")
							div
								label Désignation : 
								input#productName-1.input-medium.productName(name="productName", type="text", placeholder="Désignation...")
							div
								label PU : 
								input#productSalesPrice-1.input-mini.numeric(name="productSalesPrice", type="text", placeholder="PU", value="0.00")
							div
								label Unité : 
								input#productUnit-1.input-mini.numeric(name="productUnit", type="text", placeholder="PU", value="0.00")
							div
								label Quantité : 
								input#quantity-1.input-mini.numeric(name="quantity", type="text", placeholder="Quantity", value="0") 
							div
								label MHT : 
								input#amount-1.input-mini.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 
							div
								label Remise : 
								input#productSalesDiscount-1.input-mini.numeric(name="productSalesDiscount", type="text", placeholder="Remise", value="0") 
							div
								label MHT (Rem.) : 
								input#amountAfterDiscount-1.input-small.numeric(name="amountAfterDiscount", type="text", placeholder="MHT (Remise)", value="0.00") 
							div
								label TVA : 
								input#productGST-1.input-small.numeric(name="productGST", type="text", placeholder="TVA", value="0.00") 
								