//-
	Informations pièce
		Numéro
		Date
	Informations client/prospect
		Code
		Nom
		Adresse
	Informations règlement
		Mode de paiement
		Date de validité
	Lignes de détail
		Code article
		Description
		Quantité
		PHT
		Taux TVA
		PTTC
		Remise (%)
		Mt Remise



extends ../../../views/index

block content
	script(src="/js/numeral.min.js")
		script(src="/js/languages.min.js")
	style.

		.quotation {
			/*
			border-top : 1px solid #5f5f5f;
			border-bottom : 1px solid #5f5f5f;
			*/
				display: -webkit-box;
					display: -moz-box;
						display : -webkit-flex;
							display : flex;

					-webkit-box-orient: vertical;
							-moz-box-orient: vertical;
								-webkit-flex-direction: column;
									-ms-flex-direction: column;
										flex-direction: column;
			}
		.quotation form {
			margin-bottom : 0;
		}
		.frm-inline {
			display: -webkit-box;
					display: -moz-box;
						display : -webkit-flex;
							display : flex;
			-webkit-box-orient: vertical;
							-moz-box-orient: vertical;
								-webkit-flex-direction: column;
									-ms-flex-direction: column;
										flex-direction: column;
		}

		.quotation ul {
			margin : 0;
			padding-top : 5px;
			padding-bottom : 5px;
			border-bottom : 1px solid #e4e4e4;
		}

		.quotation li > input[type="text"] {
			margin-bottom : 1px;
			color : #fff;
			height : 20px;



		}

		.quotation li > input[type="text"]:focus {
			
			outline : 1px solid #26a7e5;
			border : none;
			text-indent: 5px; 
			
		}

		.quotation  .numeric {
			text-align : right;
			width : 20%;
		}
		.quotation li > label {
			display : inline-block;
			width : 85px;
			text-align : right;
			
			color : #fff;
			background-color : #FA6800;;
			
			
		}

		.productName {
			width : 60%;
		}

		.tab-header {
			display : none;
		}

		.quotation select {
				height : 25px;
				line-height : 25px;
				background-color : transparent;
				color : #fff;
				margin-bottom : 1px;
				margin-top : 1px;
				-webkit-appearance : caret;
				padding : 0;
				border : 1px solid #e4e4e4;
				width : 22.4%;
				text-indent : 30px;
			}
		@media only screen and (min-width: 979px)  {
			.quotation ul {
				margin : 0;
				padding : 0;
				border-bottom : 1px solid #5f5f5f;
			}
			.quotation li > label {
				display : none;
			}
			.frm-inline,
			.tab-header {
				display: -webkit-box;
					display: -moz-box;
						display : -webkit-flex;
							display : flex;
							
					
				-webkit-box-direction: normal;
					-moz-box-direction: normal;
						-webkit-box-orient: horizontal;
							-moz-box-orient: horizontal;
								-webkit-flex-direction: row;
									-ms-flex-direction: row;
										flex-direction: row;
					
			}
			
			.tab-header li {
				text-align : center;
				color : #fff;
				background-color : #FA6800;
			}

			.quotation li {
				list-style : none;
				border-left : 1px solid #5f5f5f;
				border-right : 1px solid #5f5f5f;

			}

			.quotation li > input[type="text"] {
				border : none;
				height : 20px;

			}

			.productName {
				width : 200px;
			}

			.quotation select {
				width : 85%;
				height : 25px;
				line-height : 25px;
				background-color : transparent;
				color : #fff;
				margin-bottom : 1px;
				margin-top : 1px;
				text-indent : 15px;
				-webkit-appearance : listbox;
				padding : 0;
				border : none;
				

			}

			#search {
				-webkit-appearance:none;
			}

			.quotation  .numeric {
				text-align : right;
				min-width : 50px;
			}

			.flexbox1 {
			
				-webkit-box-flex :8;
					-moz-box-flex :8;
						-webkit-flex:8;	
							flex:8;
			}

			.flexbox2 {
				
					-webkit-box-flex :10;
						-moz-box-flex :10;
							-webkit-flex:10;	
								flex:10;
			}

			.flexbox3 {
				-webkit-box-flex :11;
					-moz-box-flex :11;
						-webkit-flex:11;
							flex:11;
			}
			
			.flexbox4 {
				-webkit-box-flex :25;
					-moz-box-flex :25;
						-webkit-flex:25;	
							flex:25;
			}
			

			
		}
					
		

		.quotation li {
			list-style : none;
		}

		.quotation li div {
			text-align : right;
		} 

		
		

	.container(style="margin-top: 15px;")
		div.header
			div.section-title
				a(href="/sales")
					span.win-backbutton
					span  Devis
		div#quotation-container.row-fluid(style="height:650px").fg-color-white
			div.row-fluid(style="height:150px")
				div
					span Client 1
				div.well  
					input.span3#search(type="text", autocomplete="false", style="margin: 0 auto;")
				tr
				tr
				button.btn.btn-small#addLine Ajouter
				tr
				
			div.row-fluid(style="height:500px").fg-color-white
				ul.quotation
					li
						ul.tab-header
								li.flexbox1 Code 
								li.flexbox4 Désignation 
								li.flexbox2 PU 
								li.flexbox1 Unité
								li.flexbox3 Quantité
								li.flexbox3 MHT
								li.flexbox1 Remise (%)
								li.flexbox3 MHT (Remise)
								li.flexbox1 TVA (%)
					
					li
						ul.tab-lines
							li
								form(id="", method="", action="")
									ul.frm-inline
										li.flexbox1
											label Code :  
											input#productCode-1.input-mini.productCode(name="productCode", type="text", placeholder="code", autocomplete="off")
										li.flexbox4
											label Désignation : 
											input#productName-1.productName(name="productName", type="text", placeholder="Désignation...")
										li.flexbox2
											label PU : 
											input#productSalesPrice-1.input-mini.numeric(name="productSalesPrice", type="text", placeholder="PU", value="0.00")
										li.flexbox1
											label Unité : 
											input#productUnit-1.input-mini.numeric(name="productUnit", type="text", placeholder="PU", value="0.00")
										li.flexbox3
											label Quantité : 
											input#quantity-1.input-mini.numeric(name="quantity", type="text", placeholder="Quantity", value="0") 
										li.flexbox3
											label MHT : 
											input#amount-1.input-mini.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 
										li.flexbox1
											label Remise : 
											input#productSalesDiscount-1.input-mini.numeric(name="productSalesDiscount", type="text", placeholder="Remise", value="0") 
										li.flexbox3
											label MHT (Rem.) : 
											input#amountAfterDiscount-1.input-small.numeric(name="amountAfterDiscount", type="text", placeholder="MHT (Remise)", value="0.00") 
										li.flexbox1
											label TVA : 
											input#productGST-1.input-small.numeric(name="productGST", type="text", placeholder="TVA", value="0.00") 
											
							li
								form(id="", method="", action="")
									ul.frm-inline
										li.flexbox1
											label Code :  
											input#productCode-2.input-mini.productCode(name="productCode", type="text", placeholder="code", autocomplete="off")
										li.flexbox4
											label Désignation : 
											input#productName-2.productName(name="productName", type="text", placeholder="Désignation...")
										li.flexbox2
											label PU : 
											input#productSalesPrice-2.input-mini.numeric(name="productSalesPrice", type="text", placeholder="PU", value="0.00")
										li.flexbox1
											label Unité : 
											input#productUnit-2.input-mini.numeric(name="productUnit", type="text", placeholder="PU", value="0.00")
										li.flexbox3
											label Quantité : 
											input#quantity-2.input-small.numeric(name="quantity", type="text", placeholder="Quantity", value="10") 
										li.flexbox3
											label MHT : 
											input#amount-2.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00")
										li.flexbox1
											label Remise : 
											input#productSalesDiscount-2.input-mini.numeric(name="productSalesDiscount", type="text", placeholder="Remise", value="0") 
										li.flexbox3
											label MHT (Rem.) : 
											input#amountAfterDiscount-2.input-small.numeric(name="amountAfterDiscount", type="text", placeholder="MHT (Remise)", value="0.00") 
										li.flexbox1
											label TVA : 
											input#productGST-2.input-small.numeric(name="productGST", type="text", placeholder="TVA", value="0.00") 
							li
								form(id="", method="", action="")
									ul.frm-inline
										li.flexbox1
											label Code :  
											input#productCode-3.input-mini.productCode(name="productCode", type="text", placeholder="code", autocomplete="off")
										li.flexbox4
											label Désignation : 
											input#productName-3.productName(name="productName", type="text", placeholder="Désignation...")
										li.flexbox2
											label PU : 
											input#productSalesPrice-3.input-mini.numeric(name="productSalesPrice", type="text", placeholder="PU", value="0.00")
										li.flexbox1
											label Unité : 
											input#productUnit-3.input-mini.numeric(name="productUnit", type="text", placeholder="PU", value="0.00")
										li.flexbox3
											label Quantité : 
											input#quantity-3.input-small.numeric(name="quantity", type="text", placeholder="Quantity", value="10") 
										li.flexbox3
											label MHT : 
											input#amount-3.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00")
										li.flexbox1
											label Remise : 
											input#productSalesDiscount-3.input-mini.numeric(name="productSalesDiscount", type="text", placeholder="Remise", value="0") 
										li.flexbox3
											label MHT (Rem.) : 
											input#amountAfterDiscount-3.input-small.numeric(name="amountAfterDiscount", type="text", placeholder="MHT (Remise)", value="0.00") 
										li.flexbox1
											label TVA : 
											input#productGST-3.input-small.numeric(name="productGST", type="text", placeholder="TVA", value="0.00") 				
					li
						form(id="", method="", action="")
							ul.frm-inline
								li(style="-webkit-flex:7.3")
								li(style="-webkit-flex:1.6")
									div
										span Montant Total HT
									
								li(style="-webkit-flex:1.1")
									div
										span#amount.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 0.00
							ul.frm-inline
								li(style="-webkit-flex:7.3")
								li(style="-webkit-flex:1.6")
									div
										span Remise
									
								li(style="-webkit-flex:1.1")
									div
										span#discount.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 0.00
							ul.frm-inline
								li(style="-webkit-flex:7.3")
								li(style="-webkit-flex:1.6")
									div
										span Montant (Remise)
									
								li(style="-webkit-flex:1.1")
									div
										span#amountAfterDiscount.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 0.00
							ul.frm-inline
								li(style="-webkit-flex:7.3")
								li(style="-webkit-flex:1.6")
									div
										span Montant TVA
									
								li(style="-webkit-flex:1.1")
									div
										span#GST.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 0.00
							ul.frm-inline
								li(style="-webkit-flex:7.3")
								li(style="-webkit-flex:1.6")
									div
										span Montant TTC
									
								li(style="-webkit-flex:1.1")
									div
										span#amountAll.input-small.numeric(name="amount", type="text", placeholder="Montant HT", value="0.00") 0.00
								
block  script
	script.
		
		(function($){
			$(document).ready(function(){
				// load a language
				
				numeral.language('fr', {
					delimiters: {
						thousands: ' ',
						decimal: ','
					},
					abbreviations: {
						thousand: 'k',
						million: 'm',
						billion: 'b',
						trillion: 't'
					},
					ordinal : function (number) {
						return number === 1 ? 'er' : 'ème';
					},
					currency: {
						symbol: '€'
					}
				});

				
				var calcQuotationLine = function(lineID){
					var quantity = $("#quantity-"+lineID).val();
					var price = $("#productSalesPrice-"+lineID).val();
					var amount =  quantity * price;
					$("#amount-"+lineID).val(numeral(amount).format('0 0.00'));
					var discount = amount * $("#productSalesDiscount-"+lineID).val() / 100;
					var amountAfterDiscount = amount - discount;
					$("#amountAfterDiscount-"+lineID).val(numeral(amountAfterDiscount).format('0 0.00'));

					calcAll();
				}

				var calcAll = function(){
					var size = $(".productCode").size();
					var amount = 0;
					var discount = 0;
					var gst = 0;
					for (var i=1; i < 3; i++){
						amount = amount + 1*$("#amount-"+i).val();
						console.log("i="+i+"  amount="+amount);
						discount = discount + $("#amount-"+i).val() * $("#productSalesDiscount-"+i).val()/100;

						gst = gst + $("#productGST-"+i).val()*(amount-discount)/100;
						
					}

					$("#amount").text(numeral(amount).format('0.00'));
					$("#discount").text(numeral(discount).format('0.00'));
					var amountAfterDiscount = amount-discount;
					$("#amountAfterDiscount").text(numeral(amountAfterDiscount).format('0.00'));
					$("#GST").text(numeral(gst).format('0.00'));
					$("#amountAll").text(numeral(amountAfterDiscount + gst).format('0.00'));

				
				}

				var sendData = function(method, url, data, callback){
					$.ajax({
						type: method,
						url:url,
						data:data,
						success: function(data, textStatus, xhr){
							callback(null, {data:data, msg:textStatus});
						},
						error: function(xhr, textStatus, error){
							var msg ="Impossible de modifier l'élément sélectionné : ";
							switch (xhr.status) {
								case 404: {
									msg += "Problème de connexion avec le serveur";
									break;
								}
								case 500: {
									var responseText = $.parseJSON(xhr.responseText);
									var error = responseText.error;
									msg += error.name+" : "+error.errmsg;
									break;
								}
							}
							callback(error, {data:null, msg:msg});
						}
					});
				}
				
				var source= function (query, process) {
					console.log("query="+query);

					products = [];
					map = {};
					
					sendData('POST', '/list/productsCode', {q:query}, function(err, result){

						console.log("result="+JSON.stringify(result));
						var data = result["data"];
						console.log("data="+JSON.stringify(data));
						
						
						$.each(data, function (i, product) {
							map[product.productCode] = product;
							products.push(product.productCode);
						});

						process(products);
					});
				}
				
				var matcher = function(item){
					var qr = this.query.trim().toLowerCase();
					console.log("qr="+qr);
					if (item.toLowerCase().indexOf(qr) == 0){
						return true;
					}
				}
				var higlighter = function(item){
					var regex = new RegExp('('+this.query+')', 'gi');
					return item.replace(regex, '<span style="color:red">$1</span>');
				}

				
				var updateFields = function(lineId, productId){
					sendData('GET', '/api/product/'+productId, {}, function(err, data){
						var product = data["data"];
						console.log("product="+JSON.stringify(product));
						console.log("product.productName="+product.productName);
						$('#productName-'+lineId).val(product.productName);
						$('#productSalesPrice-'+lineId).val(numeral(product.productSalesPrice).format('0 0.00'));
						$('#productUnit-'+lineId).val(product.productUnit);
						$('#productSalesDiscount-'+lineId).val(product.productSalesDiscount);
						$('#productGST-'+lineId).val(product.productGST);
						//$('#productDiscount)
						calcQuotationLine(lineId);
					});
						
				}
				$('.numeric').on('input', function(e){
					var id = (e.currentTarget.id).split('-')[1];
					calcQuotationLine(id);

				})
				var updater = function(item){
					var lineId = this.$element.attr("id").split('-')[1];
					console.log("id="+lineId);
					selectedProduct = map[item];
					console.log("selected :"+item+" - product :"+selectedProduct);
					updateFields(lineId, selectedProduct._id);

					return item;
				}
				$('.productCode').typeahead({source: source, matcher:matcher, highlighter:higlighter, updater:updater}) 
				
				
				
				$("#addLine").on('click', function(e){
					console.log("Add line ....");
					
					})

				$('div[data-placeholder]').on('keydown keypress input', function() {
					if (this.textContent) {
						this.dataset.divPlaceholderContent = 'true';
					}
					else {
						delete(this.dataset.divPlaceholderContent);
					}
				});
		
			})

			
		})(jQuery);
